djangorestframework
django-cors-headers
django-colorfield
pillow
djoser
pytils

celery
redis

channels==3.0.5
channels-redis==3.4.1
daphne==3.0.2

django-cleanup
django-ckeditor
django-filter
pytils
segno
qrcode
aiogram
openpyxl
django-webpush



